<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Liste des cartes Pokémons</h1>
  </div>
</header>
<br>
<div class="container">
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Type</th>
          <th>Numéro</th>
          <th>Image</th>
          <th>Collection</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="pokemon in pokemonCtrl.pokemons_liste | orderBy:'nationalPokedexNumber' | itemsPerPage: 10">
          <td class="clic" ui-sref="profil({id: pokemon.id})">{{pokemon.name}}</td>
          <td><p ng-repeat="type in pokemon.types">{{type}}</p></td>
          <td>{{pokemon.nationalPokedexNumber}}</td>
          <td><img style="width: 128px;" src="{{pokemon.imageUrl}}" alt="img_carte"></td>
          <td><button class="btn btn-info" ng-click="pokemonCtrl.addCollection(pokemon)">Add in collection</button></td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls></dir-pagination-controls>
  </div>
</div>
<hr>




